<div class="d-none d-sm-block">
  <div class="container footer">
    <nav >
      <a href="index.html" class="logo">RBNB College Studet Helper</a>
      <ul>
        <li><a href="#"> Home </a></li>
        <li><a href="#"> Notes </a></li>
        <li><a href="#"> HandBook </a></li>
        <li><a href="#"> Previous Year </a></li>
        <li><a href="#"> About us </a></li>
      </ul>
      <button class="btn btn-primary" style="margin-top: 0px;">Profile</button>
    </nav> 
  </div>



<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6">
      <p style="color: whitesmoke;">Elevate your Academic journey with our website!<br>
        Find notes, past question papers, and essential tools to excel academically.<br>
        Join thousands of students who trust us as their go-to resource hub. Take the next step towards success today!</p>
    </div>
    <div class="col-md-6 position-relative">
      <img src="{{ url_for('static', filename='images/remote-5491798_1920.png') }}" style="width:70%; margin-top: 50px; margin: auto;">
    </div>
  </div>
</div>

</div>