<div class="d-none d-sm-block">
  <div class="container footer">
    <nav>
      <a href="index.html" class="logo">StudyHub</a>
      <ul>
        <li><a href="#"> Home </a></li>
        <li><a href="#"> Notes </a></li>
        <li><a href="#"> HandBook </a></li>
        <li><a href="#"> Previous Year </a></li>
        <li><a href="#"> About us </a></li>
      </ul>
      <button class="btn btn-primary" style="margin-top: 0px;">Profile</button>
    </nav>
  </div>
  
  

  


<div class="container">
  <div class="row align-items-center">
    <div class="col-md-6">
      <p style="color: whitesmoke;">Elevate your academic journey with our all-in-one resource hub!<br>
         Access comprehensive notes, past question papers, and essential tools designed to help you excel. <br>
         Join thousands of students who rely on us as their trusted academic partner.<br>
          Take the next step towards success and unlock your full potential today!</p>    
    </div>
    <div class="col-md-6 position-relative">
      <img src="{{ url_for('static', filename='images/remote-5491798_1920.png') }}" style="width:70%; margin-top: 50px;">
    </div>
  </div>
</div>

  
<div class="desk-imp-doc">
  <h3 >Important Documents</h3>
  <a class="btn btn-primary" href="#" role="button">FY HandBook</a>
  <a class="btn btn-primary" href="#" role="button">SY HandBook</a>
  <a class="btn btn-primary" href="#" role="button">TY HandBook</a> 
</div>

</div>