<div class="d-sm-none">
  <nav class="navbar footer" style="margin-bottom: 60px;">
    <a href="#" class="logo"> RBNB College <br>Student Helper</a>
    <a href="javascript:void(0);" class="toggle-button" onclick="toggleNav()">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </a>
    
    <div class="navbar-links">
        <ul>
          <li><a href="#"> Home </a></li>
          <li><a href="#"> Notes </a></li>
          <li><a href="#"> HandBook </a></li>
          <li><a href="#"> Previous Year </a></li>
          <li><a href="#"> About us </a></li>
        </ul>
    </div>
  </nav>



<div class="container">
  <div class="row align-items-center">

    <div class="col-md-6 position-relative">
      <img src="{{ url_for('static', filename='images/remote-5491798_1920.png') }}" style="width:80%; position:relative; margin-left: 30px;">
    </div>

    <div class="col-md-6">
      <p style="color: whitesmoke; margin: auto; margin-bottom: 50px;">Elevate your Academic journey with our website!
        Find notes, past question papers, and essential tools to excel academically.
        Join thousands of students who trust us as their go-to resource hub. Take the next step towards success today!</p>
    </div>
    
  </div>
</div>

</div>